*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;

}
.top_area{
    display: flex;
}
.top_half{
    width: 50%;
    padding-left: 5%;
}
.top_half h1{
    font-size: 50px;
    font-weight: 700;padding-top: 50px;
}
.top_half span{
    color:orange;
}
.top_half img{
    width: 80%;
}
.top_half a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    display: inline-block;
}
.about{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
.about_section{
    padding:20px 0;
}
.about_section h1 , h2{
    text-align: center;
    padding: 20px 0;
    
}
.shadow{
    box-shadow: 10px 10px 20px gray ;
    padding:5px;
    margin: 1%;
    border-left: 7px solid blue;
    border-radius: 10px;
}

.shadow p{
    text-align: justify;
    font-size: 20px;
    padding: 5px 0;
}